// scss 파일명 앞에 _를 붙이면 liveSassCompiler가 해당 파일들을 css파일로 생성하지 않는다.
// 파일이 너무 분산되어 있으면 유지보수가 힘들기 때문에, css파일은 생성하지 않으면서, scss는 분리해서 관리할 수 있다.

/* 네비게이션 */
#gnb {
  padding: 0;
  margin: 0;

  ul {
    li {
      list-style: none;

      a {
        text-decoration: none;
        color: #000;
        font-weight: bold;
      }
    }
  }
}

/* ////////////////////// */