@charset "utf-8";
@import url(reset.css);


html,
body {
    width: 100%;
    background-color: #000;
}

#wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

.svg {
    width: 200px;
    height: 200px;
}