@charset "utf-8";
@import url(reset.css);


html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.imgbx {
    display: flex;
    width: 800px;
    height: 400px;
}

.imgbx img {
    width: 33.33%;
    height: 100%;
    object-fit: cover;
    margin: 0 10px;
    cursor: pointer;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 99;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    visibility: hidden;
}

.popup img {
    width: 50%;
}

.popup p {
    color: #fff;
    margin-top: 20px;
}