@charset "utf-8";
@import url(reset.css);


html,
body {
    width: 100%;
    background-color: #000;
    line-height: normal;
}

#wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding-bottom: 200px;
    box-sizing: border-box;
}

#wrap>div {
    margin: 50px auto;
    text-align: center;
}

.tit {
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    margin: 50px auto;
}

.svg,
.svg2 {
    display: block;
    width: 200px;
    height: 200px;
}

.circle {
    display: inline-block;
    width: 200px;
    height: 200px;
}