@charset "utf-8";

@import url(reset.css);

html,
body {
    background-color: #000;
    line-height: normal;
}

#wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


svg {
    width: 20%;
}

.div {
    position: absolute;
    top: 20%;
    left: 10%;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    background-color: #F00;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
}