@charset "utf-8";

@import url(reset.css);

html,
body {
    background-color: #000;
    line-height: normal;
}

#wrap {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


main {
    outline: 2px dotted blue;
    width: 50%;
    margin: 0 auto;
}

.txt {
    /* color: #fff; */
    font-size: 40px;
}

.old {
    color: #f00;
}

.new {
    color: #ff0;
}